@import "variables.less";
@import "mixins.less";

body {
	background-color: @teal-darker;
}

// Wrappers

@media(min-width:768px) {
    #page-wrapper {
        border-left: 1px solid darken(@charcoal, 6.5%);
    }
}

// --Topbar

.navbar {
    background-color: @charcoal;
    .gradient(@teal, @teal-dark);
    border-color: @swamp;
    border-bottom-width: 2px;
}

.navbar-default .navbar-brand {
    background-image: url('../images/sp-logo.svg');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 55px;
    background-position: 10px 5px;
    color: @mint;
    text-shadow: 0 1px 0 @teal-darker;
    span {
        color: white;
        font-size: 12pt;
        display: inline-block;
    }
    &:hover,
    &:focus,
    &:visited,
    &:active {
        color: @mint;
    }
}

.navbar-default .navbar-toggle {
    background-color: @teal-darker;
    border-color: @swamp;
    color: white;
    &:hover,
    &:focus {
      background-color: @teal-darkest;
      .icon-bar {
        background: @mint;
      }
    }
    .icon-bar {
        background: white;
    }
}

.navbar-default .navbar-collapse {
	border-color: black;
}

.navbar-top-links li.open a {
    &.dropdown-toggle {
        background: black;
        color: white;        
    }
}

.navbar-top-links li a {
    color: white;

    &.dropdown-toggle:hover,
    &.dropdown-toggle:active,
    &.dropdown-toggle:focus {
        background: @teal-darker;
        color: @mint;
    }
}

.navbar-top-links .dropdown-menu li a {
    color: black;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    a.active {
    	background-color: @charcoal;

    	&:hover,
    	&:active,
    	&:focus {
    		background: black;
    	}
    }
}

// --Sidebar

.sidebar {
	background-color: @teal-darker;
}

.sidebar ul li {
    border-bottom: 2px solid @swamp;
    a {
        color: white;
        &.active,
        &:hover,
        &:active,
        &:focus {
            color: @mint;
            background-color: @teal;
        }
    }
}

// --Mobile
@media(max-width:767px) {
    .hide-on-mobile { display: none !important; }
    .navbar-header {
        border-bottom: 1px solid @swamp;
    }
    .navbar {
        border-bottom: 0;
    }
}