<div "wrapper">
  <div "page-wrapper">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
          </div>
          <div class="panel-body">
            <form ng-submit="login()" role="form" ng-init="loginForm = {}">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" name="email" ng-model="loginForm.email" placeholder="E-mail"  type="email" autofocus required="required"/>
                </div>
                <div class="form-group">
                  <input class="form-control" name="password" ng-model = "loginForm.password" placeholder="Password"  type="password" value="" required="required">
                </div>
                <div class="checkbox">
                  <label>
                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                  </label>
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="btn btn-lg btn-success btn-block">Sign in</button>
              </fieldset>
            </form>
            <h3>{{ loginErrorMessage }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
