<div ng-controller = "ListHubsCtrl as ctrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Environments</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-th-list"></i> All Environments
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <table width="100%" datatable="" dt-options="ctrl.dtOptions" dt-columns="ctrl.cols" dt-instance="ctrl.dtInstance" class="dt-responsive table table-striped table-bordered table-hover"></table>
          <div class="well">
            <h4>What is a Hub?</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>

      <div ng-show="user.isAdmin()">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlertIdx($index)"> {{alert.msg}}</uib-alert>
        <form name="addHubForm" class="clearfix" role="form" ng-submit="addHub(hub)" ng-init="hub = {}" novalidate>
          <div class="panel panel-kashmir">
            <div class="panel-heading">
              <i class="fa fa-plus-circle"></i> Add New Hub
            </div>
            <div class="panel-body">
              <div class="form-group" show-errors>
                <label for="friendly_id">Hub Name</label>
                <input autocomplete="off" name="friendly_id"  ng-model="hub.friendly_id" ng-required="hub.friendly_id" ng-minlength="3" ng-maxlength="16" type="text" class="form-control" placeholder="Enter a friendly identifier for the new hub (e.g. hub0)" />
                <span ng-show="addHubForm.friendly_id.$error.minlength" class="help-block">Hub name is too short. Must be at least 3 characters.</span>
                <span ng-show="addHubForm.friendly_id.$error.maxlength" class="help-block">Hub name is too long. Must be at most 16 characters.</span>
                <span ng-show="addHubForm.friendly_id.$error.required" class="help-block">This is a required field.</span>
              </div>
              <div class="form-group">
                <label for="ip">IP Address</label>
                <input autocomplete="off" name="ips" ng-model="hub.ip" class="form-control" placeholder="Enter the new hub's IP address (e.g. 212.134.24.244)" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/" />
                <span ng-show="addHubForm.ips.$error.pattern" class="help-block">That does not appear to be a valid IPv4 address.</span>
                <span ng-show="addHubForm.ips.$error.required" class="help-block">This is a required field.</span>
              </div>
              <div class="form-group" show-errors>
                  <label for="port">Port</label>
                  <input autocomplete="off" name="port" ng-model="hubDetails.port" class="form-control" placeholder="Enter the hub's port (e.g. 42150)" type="number" min="0" max="65535" />
                  <span ng-show="addHubForm.port.$error.min || addHubForm.port.$error.max" class="help-block">That does not appear to be a valid port number.</span>
              </div>
              <div class="form-group">
                <label for="hostname">Host Name</label>
                <input autocomplete="off" name="domain" ng-required="hub.hostname" ng-model="hub.hostname" ng-pattern="/^([a-z0-9]+(-[a-z0-9]+)*\.)+([a-z]{2,12})$/i" type="text" class="form-control" placeholder="Enter the new hub's hostname (e.g. hub.yourdomain.com)" />
                <span ng-show="addHubForm.domain.$error.pattern" class="help-block">That does not appear to be a valid hostname.</span>
                <span ng-show="addHubForm.domain.$error.required" class="help-block">This is a required field.</span>
              </div>
              <div class="form-group">
                <label for="location">Location (optional)</label>
                <input autocomplete="off" name="location" ng-model="hub.location" type="text" class="form-control" placeholder="Describe where this new hub is located (e.g. Computer Lab)" />
              </div>
              <div class="form-group">
                <label for="desc">Description (optional)</label>
                <input autocomplete="off" name="desc" ng-model="hub.desc" type="text" class="form-control" placeholder="Enter a description of the hub for organizational purposes" />
              </div>
            </div>
          </div>
          <button class="btn btn-primary pull-right"   type="submit" ng-click="ctrl.reloadData()">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
