<div ng-cloak ng-if="showWizard === false">
    <div class="row page-header">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1>Dashboard {{currentHub.friendly_id}}</h1>
        </div>
        <div ng-if="hubs.length > 1" class="col-lg-6 col-md-6 col-sm-6 flex-wrap flex-valign">
            <div class="button-bar">
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{currentHub.friendly_id}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="hub in hubs" ng-if="hub.id != currentHub.id"><a href="#" ng-click="setAllData(hub.id)">{{hub.friendly_id}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-blue metric">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{stats.jobs_in_progress}}</div>
                            <div>Print Jobs In Progress</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="dashboard.viewHub({ hubId: currentHub.id })">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow metric">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{stats.current_wait_time}}</div>
                            <div>Current Wait Time</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="dashboard.viewHub({ hubId: currentHub.id })">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green metric">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{stats.ready_printers}}</div>
                            <div>Ready Printers</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="dashboard.viewHub({ hubId: currentHub.id })">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red metric">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exclamation-triangle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{stats.errored_printers}}</div>
                            <div>Errored Printers</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="dashboard.viewHub({ hubId: currentHub.id })">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-if="printers.length">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="printer-icon glyphicon glyphicon-print"></i> {{printer.friendly_id}}
                </div>
                <div class="panel-body">
                    <div class="well printer no-margin" ng-if="printer">
                        <div class="panel-body row flex-valign">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <ul class="list-group no-margin">
                                    <li class="list-group-item">
                                        <label>Friendly ID:</label> {{printer.friendly_id}}</li>
                                    <li ng-if="printer.manufacturer" class="list-group-item">
                                        <label>Manufacturer:</label> {{printer.manufacturer}}</li>
                                    <li ng-if="printer.model" class="list-group-item">
                                        <label>Model:</label> {{printer.model}}</li>
                                    <li ng-model="printer.description" class="list-group-item">
                                        <label>Description:</label> {{printer.description}}</li>
                                    <li class="list-group-item">
                                        <label>Status:</label>
                                        <span class="label badge-printer-{{printer.status}}">{{printer.status}}</span></li>
                                    <li ng-if="printer.currentJob" class="list-group-item" ng-if="printer.currentJob">
                                        <label>Current Job:</label> {{printer.currentJob.id}}</li>
                                </ul>
                                <button class="btn btn-primary btn-block margin-top-nudge margin-bottom-nudge" ng-click="viewPrinter(printer.id)"><i class="fa fa-gears"></i> Manage Printer</button>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <ng-include src="'/control-panel/views/dashboard/upload.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-kashmir">
                <div class="panel-heading">
                    <i class="printer-icon glyphicon glyphicon-print"></i> Printers
                </div>
                <div class="panel-body">
                    <div class="list-group no-margin">
                        <a href="" ng-repeat="printer in printers" ng-click="setPrinter(printer.id)" class="list-group-item">
                            <i class="printer-icon glyphicon glyphicon-print"></i> {{printer.friendly_id}}
                            <span ng-if="printer.status === 'ready'" class="pull-right badge badge-printer-ready small">{{printer.status}}</span>
                            <span ng-if="printer.status === 'paused'" class="pull-right badge badge-printer-paused small">{{printer.status}}</span>
                            <span ng-if="printer.status === 'printing'" class="pull-right badge badge-printer-printing small">{{printer.status}}</span>
                            <span ng-if="printer.status === 'errored'" class="pull-right badge badge-printer-errored small">{{printer.status}}</span>
                            <span ng-if="printer.status === 'offline'" class="pull-right badge badge-printer-offline small">{{printer.status}}</span>
                            <span ng-if="printer.status === 'cancelled'" class="pull-right badge badge-printer-cancelled small">{{printer.status}}</span>
                            <span ng-if="printer.status === 'completed'" class="pull-right badge badge-printer-completed">{{printer.status}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" ng-if="tempChartData.length">
            <div class="panel panel-kashmir">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Temperature
                </div>
                <div class="panel-body">
                    <div ng-repeat="data in tempChartData">
                        <div class="line-chart" line-chart line-post-units="'&#8457'" line-data="data" line-xkey='y' line-ykeys='["a"]' line-labels='["Serie A"]' line-colors='["#31c0be"]'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-if="humidChartData.length">
            <div class="panel panel-kashmir">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Humidity
                </div>
                <div class="panel-body">
                    <div ng-repeat="data in humidChartData">
                        <div class="line-chart" line-chart line-post-units="'%'" line-data='data' line-xkey='y' line-ykeys='["a"]' line-labels='["Serie A"]' line-colors='["#31C0BE"]'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-cloak ng-if="showWizard === true">
    <ng-include src="'/control-panel/views/dashboard/gettingStarted.html'"></ng-include>
</div>
