<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Profile</h1>
    </div>
</div>

<form name="userForm" role="form" ng-submit="save(profile)" ng-init="profile = {}" novalidate>
    <div class="form-group" show-errors>
        <label for="name">Name</label>
        <input name="name" ng-model="profile.name" type="text" class="form-control" placeholder="{{user.name()}}" ng-minlength="5" />
        <span ng-show="userForm.name.$error.minlength" class="help-block">Name is too short.</span>
    </div>

    <div class="form-group" show-errors>
        <label for="email">E-mail</label>
        <input name="email" ng-model="profile.email" type="email" class="form-control" placeholder="{{user.email()}}" />
        <span ng-show="userForm.email.$error.email" class="help-block">That does not appear to be a valid e-mail address.</span>
    </div>

    <div class="form-group">
        <label for="current_password">Current Password</label>
        <input name="current_password" ng-model="profile.current_password" name="user.current_password" type="text" class="form-control" placeholder="" />
    </div>

    <div class="form-group">
        <label for="password">New Password</label>
        <input name="password" ng-model="profile.password" type="text" class="form-control" placeholder="">
    </div>

    <div class="form-group">
        <label for="password_confirmation">Confirm New Password</label>
        <input name="password_confirmation" ng-model="profile.password_confirmation" type="text" class="form-control" placeholder="" />
    </div>

    <button class="btn btn-primary pull-right" type="submit">Save Changes</button>
</form>