<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Profile</h1>
    </div>
</div>

<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()"> {{alert.msg}}</uib-alert>

<form name="userForm" class="clearfix" role="form" ng-submit="save(profile)" ng-init="profile = {}" novalidate>
    <div class="panel panel-kashmir">
        <div class="panel-heading">
            <i class="fa fa-info-circle"></i> Basic Information
        </div>

        <div class="panel-body">
            <div class="form-group" show-errors>
                <label for="name">Name</label>
                <input autocomplete="off" name="name" ng-model="profile.name" type="text" class="form-control" placeholder="{{user.name()}}" ng-minlength="5" />
                <span ng-show="userForm.name.$error.minlength" class="help-block">Hub name is too short. Must be at least 5 characters.</span>
            </div>

            <div class="form-group" show-errors>
                <label for="email">E-mail</label>
                <input autocomplete="off" name="email" ng-model="profile.email" type="email" class="form-control" placeholder="{{user.email()}}" />
                <span ng-show="userForm.email.$error.email" class="help-block">That does not appear to be a valid e-mail address.</span>
            </div>
        </div>
    </div>
    <div class="panel panel-kashmir">
        <div class="panel-heading">
            <i class="fa fa-key"></i> Change Password
        </div>

        <div class="panel-body">
            <div class="form-group" show-errors>
                <label for="password">New Password</label>
                <input name="password" ng-model="profile.password" type="password" class="form-control" placeholder="Enter new password (must be at least 8 characters long)" ng-minlength="8" ng-required="profile.password_confirmation" />
                <span ng-show="userForm.password.$error.minlength" class="help-block">Password is too short. Must be at least 8 characters.</span>
                <span ng-show="userForm.password.$error.required" class="help-block">Don't forget to add your new password.</span>
            </div>

            <div class="form-group" show-errors>
                <label for="password_confirmation">Confirm New Password</label>
                <input name="password_confirmation" ng-model="profile.password_confirmation" type="password" class="form-control" placeholder="Confirm new password" match="profile.password" ng-required="profile.password" />
                <span ng-show="userForm.password_confirmation.$error.match" class="help-block">Password does not match the previously entered one.</span>
                <span ng-show="userForm.password.$error.required" class="help-block">Don't forget to confirm your new password.</span>
            </div>
        </div>
    </div>

    <button class="btn btn-primary pull-right" type="submit">Save Changes</button>
</form>
