<form ng-controller="UploadJobCtrl" name="form">
    <div class="well upload-drop flex-wrap flex-valign flex-halign">
        <div ngf-drop multiple accept="image/*" ngf-select="uploadFiles($files)" class="drop-box" ngf-drag-over-class="'dragover'">
            <h2>Drag N' Drop File(s) to Print Here</h2>
            <p>You can also use the button below to manually select one or more files.</p>
            <p>The accepted file formats are: *.stl and *.gcode.
        </div>
    </div>
    <div class="clearfix">
        <button class="btn btn-primary pull-right" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*"><i class="fa fa-external-link-square"></i> Select File(s)</button>
    </div>
    <h4 ng-show="files">Files Uploaded</h4>
    <ul class="list-group no-margin">
        <li ng-repeat="f in files" class="list-group-item">
        	<label>{{f.name}} {{f.$errorParam}}</label>
            <div class="progress" ng-show="f.progress >= 0" style="margin-bottom:5px;">
	    		<div class="progress-bar" style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
	  		</div>
        </li>
    </ul>

	<p ng-if="errorMsg" class="alert-danger">{{errorMsg}}</p>
    <p ng-repeat="f in errFiles" class="alert alert-danger">{{f.name}} {{f.$error}} {{f.$errorParam}}</p>
</form>
