<modal title="Add New Sensor" visible="addSensorModalVisible">
    <uib-alert ng-repeat="alert in addSensorModal.alerts" type="{{alert.type}}" close="addSensorModal.closeAlertIdx($index)"> {{alert.msg}}</uib-alert>
    <form name="addSensorModal.form" role="form" ng-submit="addSensor(addSensorModal.attributes)" novalidate>
        <div class="form-group" show-errors>
            <label for="friendly_id">Name</label>
            <input autocomplete="off" name="friendly_id" ng-model="addSensorModal.attributes.friendly_id" type="text" class="form-control" placeholder="Enter a name for the sensor" ng-minlength="4" ng-required />
            <span ng-show="addSensorModal.form.friendly_id.$error.minlength" class="help-block">Name is too short. Must be at least 4 characters.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="desc">Description (optional)</label>
            <input autocomplete="off" name="desc" ng-model="addSensorModal.attributes.desc" type="text" class="form-control" placeholder="Enter a description for the sensor" ng-maxlength="256" />
            <span ng-show="addSensorModal.form.desc.$error.minlength" class="help-block">Cannot be longer than 256 characters.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="manufacturer">Manufacturer (optional)</label>
            <input autocomplete="off" name="manufacturer" ng-model="addSensorModal.attributes.manufacturer" type="text" class="form-control" placeholder="Enter the manufacturer of the sensor" ng-minlength="1" />
            <span ng-show="addSensorModal.form.manufacturer.$error.minlength" class="help-block">Must be at least 1 character long.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="model">Model (optional)</label>
            <input autocomplete="off" name="manufacturer" ng-model="addSensorModal.attributes.model" type="text" class="form-control" placeholder="Enter the model of the sensor" ng-minlength="1" />
            <span ng-show="addSensorModal.form.model.$error.minlength" class="help-block">Must be at least 1 character long.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="category">Type</label>
            <select name="category" ng-init="addSensorModal.attributes.category = 'Specify the type of sensor'" ng-model="addSensorModal.attributes.category" class="form-control" required>
                <option disabled selected>Specify the type of sensor</option>
                <option value="temperature">Temperature</option>
                <option value="humidity">Humidity</option>
                <option value="door">Door</option>
            </select>
        </div>
        <div class="form-group" show-errors>
            <label for="node_id">Node ID</label>
            <select name="node_id" ng-init="addSensorModal.attributes.node_id = 'Specify the ID of the node that the sensor is connected to'" ng-model="addSensorModal.attributes.node_id" class="form-control" required>
                <option disabled selected>Specify the ID of the node that the sensor is connected to</option>
                <option ng-repeat="id in hub.nodes" value="id">{{id}}</option>
            </select>
        </div>
        <div class="form-group" show-errors>
            <label for="node_id">PIN</label>
            <select name="pin" ng-init="addSensorModal.attributes.pin = 'Specify which GPIO pin the sensor is connected to'" ng-model="addSensorModal.attributes.pin" class="form-control" ng-required>
                <option disabled selected>Specify which GPIO pin the sensor is connected to</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
        </div>
        <div class="form-group" show-errors>
            <label for="low_threshold">Low Threshold</label>
            <input autocomplete="off" name="low_threshold" ng-model="addSensorModal.attributes.low_threshold" type="number" class="form-control" placeholder="Enter the low threshold for the sensor" ng-required />
        </div>
        <div class="form-group" show-errors>
            <label for="high_threshold">High Threshold</label>
            <input autocomplete="off" name="high_threshold" ng-model="addSensorModal.attributes.high_threshold" type="number" class="form-control" placeholder="Enter the high threshold for the sensor" min="{{addSensorModal.attributes.low_threshold + 1}}" ng-required />
            <span ng-show="addSensorModal.form.high_threshold.$error.min" class="help-block">The high threshold must be greater than the low threshold.</span>
        </div>
        <button ng-disabled="addSensorModal.form.$invalid" type="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add New Sensor</button>
        <button type="button" ng-click="hideAddSensorModal()" class="btn btn-warning"><i class="fa fa-times"></i> Close</button>
    </form>
</modal>
<modal title="Update Sensor" visible="updateSensorModalVisible">
    <uib-alert ng-repeat="alert in updateSensorModal.alerts" type="{{alert.type}}" close="updateSensorModal.closeAlertIdx($index)"> {{alert.msg}}</uib-alert>
    <form name="updateSensorModal.form" role="form" ng-submit="updateSensor(updateSensorModal.sensor.id, updateSensorModal.attributes)" novalidate>
        <div class="form-group" show-errors>
            <label for="friendly_id">Name</label>
            <input autocomplete="off" name="friendly_id" ng-model="updateSensorModal.attributes.friendly_id" type="text" class="form-control" placeholder="{{updateSensorModal.sensor.friendly_id}}" ng-minlength="4" />
            <span ng-show="updateSensorModal.form.friendly_id.$error.minlength" class="help-block">Name is too short. Must be at least 4 characters.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="manufacturer">Manufacturer</label>
            <input autocomplete="off" name="manufacturer" ng-model="updateSensorModal.attributes.manufacturer" type="text" class="form-control" placeholder="{{updateSensorModal.sensor.manufacturer}}" ng-minlength="1" />
            <span ng-show="updateSensorModal.form.manufacturer.$error.minlength" class="help-block">Must be at least 1 character long.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="model">Model</label>
            <input autocomplete="off" name="manufacturer" ng-model="updateSensorModal.attributes.model" type="text" class="form-control" placeholder="{{updateSensorModal.sensor.model}}" ng-minlength="1" />
            <span ng-show="updateSensorModal.form.model.$error.minlength" class="help-block">Must be at least 1 character long.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="desc">Description</label>
            <input autocomplete="off" name="desc" ng-model="updateSensorModal.attributes.desc" type="text" class="form-control" placeholder="{{updateSensorModal.sensor.desc}}" ng-maxlength="256" />
            <span ng-show="updateSensorModal.form.desc.$error.minlength" class="help-block">Cannot be longer than 256 characters.</span>
        </div>
        <div class="form-group" show-errors>
            <label for="low_threshold">Low Threshold</label>
            <input autocomplete="off" name="low_threshold" ng-model="updateSensorModal.attributes.low_threshold" type="number" class="form-control" ng-init="updateSensorModal.attributes.low_threshold = updateSensorModal.sensor.low_threshold" placeholder="{{updateSensorModal.sensor.low_threshold}}" />
        </div>
        <div class="form-group" show-errors>
            <label for="high_threshold">High Threshold</label>
            <input autocomplete="off" name="high_threshold" ng-model="updateSensorModal.attributes.high_threshold" type="number" class="form-control" ng-init="updateSensorModal.attributes.high_threshold = updateSensorModal.sensor.high_threshold" placeholder="{{updateSensorModal.sensor.high_threshold}}" min="{{updateSensorModal.attributes.low_threshold + 1}}" />
            <span ng-show="updateSensorModal.form.high_threshold.$error.min" class="help-block">The high threshold must be greater than the low threshold.</span>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save Changes</button>
        <button type="button" ng-click="hideSensorModal()" class="btn btn-warning"><i class="fa fa-times"></i> Close</button>
    </form>
</modal>
<modal title="Delete HUB" visible="showDeleteModal">
    <p class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i> Are you sure that you want to delete this HUB? This action is <strong>irreversible</strong>.
    </p>
    <button type="button" class="btn btn-danger" ng-click="deleteHub(hub.id)"><i class="fa fa-check-circle"></i> Yes, Delete This HUB</button>
    <button type="button" class="btn btn-warning" ng-click="deleteModal()"><i class="fa fa-times"></i> Nevermind</button>
</modal>
<modal title="Delete Sensor" visible="deleteSensorModalVisible">
    <p class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i> Are you sure that you want to delete this sensor? This action is <strong>irreversible</strong>.
    </p>
    <button type="button" class="btn btn-danger" ng-click="deleteSensor(deleteSensorModal.sensorId); hideDeleteSensorModal();"><i class="fa fa-check-circle"></i> Yes, Delete This Sensor</button>
    <button type="button" class="btn btn-warning" ng-click="hideDeleteSensorModal()"><i class="fa fa-times"></i> Nevermind</button>
</modal>
<div id="view-hub" class="resource-page">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header row" vertilize-container>
                <div class="col-lg-9" vertilize>
                    <h1>
                        <a ng-if="hub.status === 'online'" href="javascript:void" tooltip-placement="bottom" tooltip-close-delay="200" uib-tooltip="This HUB is currently {{::hub.status | uppercase}}."><span class="label label-success"><i class="fa fa-check-circle"></i> {{hub.friendly_id}}</span></a>

                         <a ng-if="hub.status === 'offline'" href="javascript:void" tooltip-placement="bottom" tooltip-close-delay="200" uib-tooltip="This HUB is currently {{::hub.status | uppercase}}."><span class="label label-danger"><i class="fa fa-times-circle"></i> {{hub.friendly_id}}</span></a>

                         <a ng-if="hub.status === 'unknown'" href="javascript:void" tooltip-placement="bottom" tooltip-close-delay="200" uib-tooltip="The status of this HUB is currently {{::hub.status | uppercase}}."><span class="label label-default"><i class="fa fa-question-circle"></i> {{hub.friendly_id}}</span></a>
                    </h1>
                    <p class="desc">{{hub.desc}}</p>
                </div>
                <div class="col-lg-3 flex-wrap flex-valign" vertilize>
                    <p id="add-sensor" class="button-bar" ng-if="user.isAdmin()">
                        <button ng-disabled="hub.status !== 'online'" class="btn btn-success" href="javascript:void" ng-click="showAddSensorModal()"><i class="fa fa-plus-circle"></i> Add New Sensor</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="sensors.length" class="col-lg-3" ng-repeat="sensor in sensors">
            <div class="sensor panel panel-info">
                <div class="panel-heading clearfix">
                    <span class="name pull-left"><i class="glyphicon glyphicon-scale"></i> {{sensor.friendly_id}}</span>
                    <a class="info pull-right" href="javascript:void" tooltip-close-delay="200" uib-tooltip="{{sensor.desc}}">
                        <label class="label label-info pull-right"><i class="fa fa-tag"></i> {{sensor.category}}</label>
                    </a>
                </div>
                <div class="panel-body">
                    <p class="reading reading-default" ng-if="sensor.category==='humidity'">{{sensor.reading | number : 2}} %</p>
                    <p class="reading reading-default" ng-if="sensor.category==='door'">{{sensor.reading | door}}</p>
                    <p class="reading reading-default" ng-if="sensor.category==='temperature'">{{sensor.reading | number : 2}} &#8457;</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="button" ng-if="user.isAdmin()" ng-click="updateSensorModal.sensor = sensor; showSensorModal()" class="btn btn-info btn-block" style="margin-top: 10px;"><i class="fa fa-pencil-square"></i> Modify Details</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" ng-if="user.isAdmin()" ng-click="deleteSensorModal.sensorId = sensor.id; showDeleteSensorModal()" class="btn btn-danger btn-block" style="margin-top: 10px;"><i class="fa fa-times-circle"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-cloak ng-if="sensors.length === 0" class="col-lg-12">
            <p class="alert alert-warning">
                <i class="fa fa-exclamation-triangle"></i> There are no sensors associated with this HUB. 
            </p>
        </div>
    </div>
    <div class="row" id="printer-list">
        <div ng-class="user.isAdmin() ? class='col-sm-7 col-lg-7' : class='col-sm-12 col-lg-12'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list"></i> Printers
                </div>
                <div class="panel-body">
                    <p ng-show="printers.length === 0" class="no-margin alert alert-warning"><i class="fa fa-exclamation-triangle"></i> There are no printers associated with this HUB.</p>
                    <div class="well printer" ng-show="printers.length" ng-repeat="printer in printers.slice(((printersCurrentPage-1)*printersItemsPerPage), ((printersCurrentPage)*printersItemsPerPage))">
                        <div class="row flex-wrap flex-valign">
                            <div class="col-lg-4 text-center">
                                <span class="printer-icon glyphicon glyphicon-print"></span>
                                <h3>{{printer.friendly_id}}</h3>
                                <button class="btn btn-primary btn-block margin-top-nudge margin-bottom-nudge" ng-click="viewPrinter(printer.id)"><i class="fa fa-gears"></i> Manage Printer</button>
                            </div>
                            <div class="col-lg-8">
                                <ul class="list-group no-margin">
                                    <li class="list-group-item">
                                        <label>Name:</label> {{printer.friendly_id}}</li>
                                    <li ng-if="printer.manufacturer" class="list-group-item">
                                        <label>Manufacturer:</label> {{printer.manufacturer}}</li>
                                    <li ng-if="printer.model" class="list-group-item">
                                        <label>Model:</label> {{printer.model}}</li>
                                    <li ng-if="printer.description" class="list-group-item">
                                        <label>Description:</label> {{printer.description}}</li>
                                    <li class="list-group-item">
                                        <label>Status:</label> 
                                        <span class="label badge-printer-{{printer.status}}">{{printer.status}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <uib-pagination ng-show="printers.length" total-items="printersTotalItems" items-per-page="printersItemsPerPage" ng-model="printersCurrentPage" ng-change="pageChanged(printers)" class="pull-right no-margin">
                    </uib-pagination>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-5" ng-show="user.isAdmin()">
            <div class="panel panel-kashmir">
                <div class="panel-heading">
                    <i class="fa fa-wrench"></i> HUB Management
                </div>
                <div class="panel-body">
                    <form name="updateHubForm" class="clearfix" role="form" ng-submit="updateHub(hub.id, hubDetails)" ng-init="hubDetails = {}" novalidate>
                        <uib-tabset active="active">
                            <uib-tab index="0">
                                <uib-tab-heading>
                                    <i class="fa fa-pencil-square"></i> Modify Details
                                </uib-tab-heading>
                                <div class="margin-top-nudge">
                                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlertIdx($index)"> {{alert.msg}}</uib-alert>
                                    <div class="form-group" show-errors>
                                        <label for="friendly_id">HUB Name</label>
                                        <input autocomplete="off" name="friendlyid" ng-model="hubDetails.friendly_id" type="text" class="form-control" placeholder="{{hub.friendly_id}}" ng-minlength="3" ng-maxlength="16" />
                                        <span ng-show="updateHubForm.friendlyid.$error.minlength" class="help-block">HUB name is too short.  Must be at least 3 characters long.</span>
                                        <span ng-show="updateHubForm.friendlyid.$error.maxlength" class="help-block">HUB name is too long.  Must be at most 16 characters long.</span>
                                    </div>
                                    <div class="form-group" show-errors>
                                        <label for="ip">IP Address</label>
                                        <input autocomplete="off" name="ips" ng-model="hubDetails.ip" class="form-control" placeholder="{{hub.ip}}" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/" />
                                        <span ng-show="updateHubForm.ips.$error.pattern" class="help-block">That does not appear to be a valid IPv4 address.</span>
                                    </div>
                                    <div class="form-group" show-errors>
                                        <label for="port">Port</label>
                                        <input autocomplete="off" type="number" min="0" max="65535" name="port" ng-model="hubDetails.port" class="form-control" placeholder="{{hub.port}}" min="0" max="65535" />
                                        <span ng-show="updateHubForm.port.$error.min || updateHubForm.port.$error.max" class="help-block">That does not appear to be a valid port number.</span>
                                    </div>
                                    <div class="form-group" show-errors>
                                        <label for="hostname">Host Name</label>
                                        <input autocomplete="off" name="hostname" ng-model="hubDetails.hostname" type="text" class="form-control" placeholder="{{hub.hostname}}" ng-pattern="/^([a-z0-9]+(-[a-z0-9]+)*\.)+([a-z]{2,12})$/i" />
                                        <span ng-show="updateHubForm.hostname.$error.pattern" class="help-block">That does not appear to be a valid hostname.</span>
                                    </div>
                                    <div class="form-group" show-errors>
                                        <label for="location">Location</label>
                                        <input autocomplete="off" name="location" ng-model="hubDetails.location" type="text" class="form-control" placeholder="{{hub.location}}" />
                                    </div>
                                    <div class="form-group" show-errors>
                                        <label for="desc">Description</label>
                                        <input autocomplete="off" name="desc" ng-model="hubDetails.desc" type="text" class="form-control" placeholder="{{hub.desc}}" />
                                    </div>
                                    <div class="clearfix">
                                        <button class="pull-right btn btn-success" type="submit" ui-sref-opts="{reload: true}"><i class="fa fa-save"></i> Save Changes</button>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading>
                                    <i class="fa fa-key"></i> API Key
                                </uib-tab-heading>
                                <div class="margin-top-nudge">
                                    <p class="well">This action will generate a new API key that the HUB can use to communicate updates with the control panel. Note that this action will <strong>delete any existing API key</strong> rendering it useless. The newly generated API key will <strong>only be displayed once in plaintext</strong> below for security purposes so be sure to copy it in a safe place after retrieving it.</p>
                                    <p class="alert alert-success" ng-show="apiKey"><i class="fa fa-check-circle"></i> API key generated: <code>{{apiKey}}</code></p>
                                    <button type="button" class="btn btn-primary" ng-click="generateApiKey(hub.id)">Generate API Key</button>
                                </div>
                            </uib-tab>
                            <uib-tab index="2">
                                <uib-tab-heading>
                                    <i class="fa fa-trash"></i> Delete
                                </uib-tab-heading>
                                <div class="margin-top-nudge">
                                    <p class="margin-top-nudge alert alert-danger text-center"><strong>WARNING!</strong> This action is irreversible. Proceed with caution.</p>
                                    <button type="button" class="btn btn-danger btn-block" ng-click="deleteModal()">Delete HUB</button>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
