@import "variables.less";

.profile-pic {
  width: 30%;
}

// View Hub
#view-hub {
	@media(max-width: 1280px) {
		.printer .row {
			display: block;
		}
		.printer .row > div,
		#printer-list > div  {
			width: 100%;
		}
	}
	.printer-icon {
		font-size: 96px;
	}
}