@import "variables.less";

.profile-pic {
  width: 30%;
}

.top-margin20 {
  margin-top: 20px;
}

.btm-margin10 {
  margin-bottom: 10px;
}

.page-header {
	border-bottom: 2px solid @graynurse;
	padding: 35px 0 10px 0;
	margin: 0 0 20px 0;
	h1 {
		padding: 0 0 15px 0;
		margin: 0;
		a:hover {
			text-decoration: none;
		}			
	}
	p.desc {
		font-size: 24px;
		color: #353E33;
	}
	.button-bar { margin-left: auto; }
}
@media(max-width: 1200px) {
	.row > div {
		height: auto !important;
	}
	.button-bar { margin-left: 0 !important; }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// View Hub
#view-hub {
	@media(max-width: 1280px) {
		.printer .row {
			display: block;
		}
		.printer .row > div,
		#printer-list > div  {
			width: 100%;
		}
	}
	.printer-icon {
		font-size: 96px;
	}
	.sensor {
		.panel-heading .label {
			text-shadow: none;
		}
		.panel-heading .info {
			display: inline-block;
			margin-top: 3px;
			.label {
				cursor: pointer;
				color: lighten(#d9edf7, 5%);
			}
		}
		.panel-heading .glyphicon {
		    vertical-align: middle;
		    margin-top: -0.125em;
		}
		.reading {
			text-align: center;
			padding: 10px;
			font-size: 24pt;
			font-weight: bold;
			border-radius: 5px;
			margin: 0;
			color: white;
			&.reading-ok {
				background-color: @forestgreen;
			}
			&.reading-alert {
				background-color: @flushorange;
			}
			&.reading-danger {
				background-color: @venetionred;
			}
			&.reading-default {
				background-color: @kimberly;
      }
			&.reading-temp-high {
				background-color: @temp-high;
      }
			&.reading-temp-normal {
				background-color: @temp-normal;
      }
			&.reading-temp-low {
				background-color: @temp-low;
      }
			&.reading-humidity-high {
				background-color: @humidity-high;
      }
			&.reading-humidity-normal {
				background-color: @humidity-normal;
      }
			&.reading-humidity-low {
				background-color: @humidity-low;
      }
		}
	}
}

// Upload
.upload-drop {
	border: 5px dashed fade(black, 10%);
	color: fade(black, 20%);
	min-height: 270px;
	text-align: center;
}
.dragover {
	border-color: @carnation !important;
}

// Printer
.resource-page#printer {
	.pagination {
		margin: 0;
	}

	h2#recent-jobs {
		border-bottom: 2px solid @graynurse;
		padding: 0 0 10px 0;
		margin: 20px 0 20px 0;
		color: #353E33;
		i { color: @teal; }
	}

	.job {
		background-color: white;
		border: 1px solid @graynurse;
		border-radius: 5px;
		padding: 20px 20px;
		margin: 0 0 20px 0;
		i { color: @kashmir;}

		h3 {
			margin: 0;
			border-bottom: 2px solid #F1F1F1;
			padding: 0 0 10px 0;
			span { display: inline-block; }
			.label {
			}
		}
		.meta {
			margin: 0;
			padding: 10px 0 0 0;
			.date {
			}			
		}

	}

	.label-processing,
	.label-slicing {
		background-color: #f6ca6c;
		text-shadow: 1px 1px 0 darken(#f6ca6c, 20%);
	}

	.label-queued {
		background-color: #43A7C3;
		text-shadow: 1px 1px 0 darken(#43A7C3, 20%);
	}

	.label-paused {
		background-color: #707570;
		text-shadow: 1px 1px 0 darken(#707570, 20%);
	}

	.label-errored {
		background-color: @venetionred;
		text-shadow: 1px 1px 0 darken(@venetionred, 20%);
	}

	.label-printing {
		background-color: @kimberly;
		text-shadow: 1px 1px 0 darken(@kimberly, 20%);
	}

	.label-completed {
		background-color: @forestgreen;
		text-shadow: 1px 1px 0 darken(@forestgreen, 20%);
	}
}

.badge-printer-ready {
  background-color: @printer-ready;
}

.badge-printer-paused {
  background-color: @printer-paused;
}

.badge-printer-printing {
  background-color: @printer-printing;
}

.badge-printer-errored {
  background-color: @printer-errored;
}

.badge-printer-offline {
  background-color: @printer-offline;
  color: #696464;
}

.badge-printer-cancelled {
  background-color: @printer-cancelled;
}

.badge-printer-completed {
  background-color: @printer-completed;
}
